@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 195 20% 45%;
    --foreground: 0 0% 100%;

    --card: 195 20% 45%;
    --card-foreground: 0 0% 100%;

    --popover: 195 20% 45%;
    --popover-foreground: 0 0% 100%;

    --primary: 0 0% 100%;
    --primary-foreground: 195 20% 45%;

    --secondary: 195 20% 55%;
    --secondary-foreground: 0 0% 100%;

    --muted: 195 20% 35%;
    --muted-foreground: 195 15% 75%;

    --accent: 265 85% 65%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 195 15% 60%;
    --input: 0 0% 100%;
    --ring: 265 85% 65%;

    --radius: 1.5rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 195 20% 45%;
    --foreground: 0 0% 100%;

    --card: 195 20% 45%;
    --card-foreground: 0 0% 100%;

    --popover: 195 20% 45%;
    --popover-foreground: 0 0% 100%;

    --primary: 0 0% 100%;
    --primary-foreground: 195 20% 45%;

    --secondary: 195 20% 55%;
    --secondary-foreground: 0 0% 100%;

    --muted: 195 20% 35%;
    --muted-foreground: 195 15% 75%;

    --accent: 265 85% 65%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;

    --border: 195 15% 60%;
    --input: 0 0% 100%;
    --ring: 265 85% 65%;
    --sidebar-background: 195 20% 40%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 265 85% 65%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 195 20% 50%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 195 15% 60%;
    --sidebar-ring: 265 85% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
